/* Ensure body and html take up the full viewport height */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Ensure the root element also takes up the full viewport height */
#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; /* Ensure the layout is vertical */
}
